Repository squizlabs/PHP_CodeSniffer, pull requests merged in 2023-07, with the labels that each got.

#3785 Fix PHP Fatal error in `Squiz.Commenting.FunctionComment`
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.php
Labels: Type: bug, Standard: Squiz

#3832 Added PSR-2 documentation XML files
  package.xml
  src/Standards/PSR2/Docs/Files/ClosingTagStandard.xml
  src/Standards/PSR2/Docs/Methods/FunctionCallSignatureStandard.xml
  src/Standards/PSR2/Docs/Methods/FunctionClosingBraceStandard.xml
Labels: Type: documentation, Standard: PSR2

#3843 Allow array unpacking in ArrayDeclaration multiline Sniff
  src/Standards/Squiz/Sniffs/Arrays/ArrayDeclarationSniff.php
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.1.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.2.inc.fixed
  src/Standards/Squiz/Tests/Arrays/ArrayDeclarationUnitTest.php
Labels: Type: bug, Standard: Squiz

#3807 Make InnerFunctionsSniff detect functions inside closures
  src/Standards/Squiz/Sniffs/PHP/InnerFunctionsSniff.php
  src/Standards/Squiz/Tests/PHP/InnerFunctionsUnitTest.inc
  src/Standards/Squiz/Tests/PHP/InnerFunctionsUnitTest.php
Labels: Type: bug, Standard: Squiz

#3813 Handle `@param` in docblock for variables passed by reference
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc.fixed
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.php
Labels: Type: enhancement, Type: bug, Standard: Squiz, Focus: Comments/Docblocks

#3717 Fix `Squiz.Commenting.FunctionComment.InvalidNoReturn` false positive when return type is `never`
  src/Standards/Squiz/Sniffs/Commenting/FunctionCommentSniff.php
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc
  src/Standards/Squiz/Tests/Commenting/FunctionCommentUnitTest.inc.fixed
Labels: Type: enhancement, Status: awaiting feedback, Standard: Squiz
